#replace formID

<h1>TITLE</h1>
<form action="/formID">
  <div class="form-group">
     <label for="formID">SUB HEADING? E.g. What is your scrabble word?
</label>
     <input id="formID" name="formID" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
